In [ ]:
import numpy as np
import pandas as pd
import random

pd.set_option('display.max_columns', None)

# General Features

In [ ]:
general = pd.read_csv('okcupid_profiles.csv')

In [ ]:
general.head()

,age,status,sex,orientation,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,last_online,location,offspring,pets,religion,sign,smokes,speaks,essay0,essay1,essay2,essay3,essay4,essay5,essay6,essay7,essay8,essay9
0,22,single,m,straight,a little extra,strictly anything,socially,never,working on college/university,"asian, white",75.0,-1,transportation,2012-06-28-20-30,"south san francisco, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism and very serious about it,gemini,sometimes,english,about me: i would love to think that i was so...,currently working as an international agent fo...,making people laugh. ranting about a good salt...,"the way i look. i am a six foot half asian, ha...","books: absurdistan, the republic, of mice and ...",food. water. cell phone. shelter.,duality and humorous things,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet! you are ti...
1,35,single,m,straight,average,mostly other,often,sometimes,working on space camp,white,70.0,80000,hospitality / travel,2012-06-29-21-41,"oakland, california","doesn't have kids, but might want them",likes dogs and likes cats,agnosticism but not too serious about it,cancer,no,"english (fluently), spanish (poorly), french (...",i am a chef: this is what that means. 1. i am ...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,i am die hard christopher moore fan. i don't r...,delicious porkness in all of its glories. my b...,NaN,NaN,i am very open and will share just about anyth...,NaN
2,38,available,m,straight,thin,anything,socially,NaN,graduated from masters program,NaN,68.0,-1,NaN,2012-06-27-09-10,"san francisco, california",NaN,has cats,NaN,pisces but it doesn&rsquo;t matter,no,"english, french, c++","i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,okay this is where the cultural matrix gets so...,movement conversation creation contemplation t...,NaN,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ..."
3,23,single,m,straight,thin,vegetarian,socially,NaN,working on college/university,white,71.0,20000,student,2012-06-28-14-22,"berkeley, california",doesn't want kids,likes cats,NaN,pisces,no,"english, german (poorly)",i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,"bataille, celine, beckett. . . lynch, jarmusch...",NaN,cats and german philosophy,NaN,NaN,you feel so inclined.
4,29,single,m,straight,athletic,NaN,socially,never,graduated from college/university,"asian, black, other",66.0,-1,artistic / musical / writer,2012-06-27-21-26,"san francisco, california",NaN,likes dogs and likes cats,NaN,aquarius,no,english,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at: http://bagsbrown....,i smile a lot and my inquisitive nature,"music: bands, rappers, musicians at the moment...",NaN,NaN,NaN,NaN,NaN

## Data Cleaning for General Features Dataset

In [ ]:
 general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   status       59946 non-null  object
 2   sex          59946 non-null  object
 3   orientation  59946 non-null  object
 4   body_type    54650 non-null  object
 5   diet         35551 non-null  object
 6   drinks       56961 non-null  object
 7   drugs        45866 non-null  object
 8   education    53318 non-null  object
 9   ethnicity    54266 non-null  object
 10  height       59943 non-null  float64
 11  income       59946 non-null  int64
 12  job          51748 non-null  object
 13  last_online  59946 non-null  object
 14  location     59946 non-null  object
 15  offspring    24385 non-null  object
 16  pets         40025 non-null  object
 17  religion     39720 non-null  object
 18  sign         48890 non-null  object
 19  smokes       54434 non-null  object
 20  speaks       59896 non-null  object
 21  essay0       54458 non-null  object
 22  essay1       52374 non-null  object
 23  essay2       50308 non-null  object
 24  essay3       48470 non-null  object
 25  essay4       49409 non-null  object
 26  essay5       49096 non-null  object
 27  essay6       46175 non-null  object
 28  essay7       47495 non-null  object
 29  essay8       40721 non-null  object
 30  essay9       47343 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

### Checking columns that are ambiguous

In [ ]:
general['status'].value_counts()

status
single            55697
seeing someone     2064
available          1865
married             310
unknown              10
Name: count, dtype: int64

In [ ]:
general['body_type'].value_counts()

body_type
average           14652
fit               12711
athletic          11819
thin               4711
curvy              3924
a little extra     2629
skinny             1777
full figured       1009
overweight          444
jacked              421
used up             355
rather not say      198
Name: count, dtype: int64

In [ ]:
general['religion'].value_counts()

religion
agnosticism                                   2724
other                                         2691
agnosticism but not too serious about it      2636
agnosticism and laughing about it             2496
catholicism but not too serious about it      2318
atheism                                       2175
other and laughing about it                   2119
atheism and laughing about it                 2074
christianity                                  1957
christianity but not too serious about it     1952
other but not too serious about it            1554
judaism but not too serious about it          1517
atheism but not too serious about it          1318
catholicism                                   1064
christianity and somewhat serious about it     927
atheism and somewhat serious about it          848
other and somewhat serious about it            846
catholicism and laughing about it              726
judaism and laughing about it                  681
buddhism but not too serious about it          650
agnosticism and somewhat serious about it      642
judaism                                        612
christianity and very serious about it         578
atheism and very serious about it              570
catholicism and somewhat serious about it      548
other and very serious about it                533
buddhism and laughing about it                 466
buddhism                                       403
christianity and laughing about it             373
buddhism and somewhat serious about it         359
agnosticism and very serious about it          314
judaism and somewhat serious about it          266
hinduism but not too serious about it          227
hinduism                                       107
catholicism and very serious about it          102
buddhism and very serious about it              70
hinduism and somewhat serious about it          58
islam                                           48
hinduism and laughing about it                  44
islam but not too serious about it              40
judaism and very serious about it               22
islam and somewhat serious about it             22
islam and laughing about it                     16
hinduism and very serious about it              14
islam and very serious about it                 13
Name: count, dtype: int64

In [ ]:
print(general['essay0'][0]+"\n")
print(general['essay1'][0]+"\n")
print(general['essay2'][0]+"\n")
print(general['essay3'][0]+"\n")
print(general['essay4'][0]+"\n")
print(general['essay5'][0]+"\n")
print(general['essay6'][0]+"\n")
print(general['essay7'][0]+"\n")
print(general['essay8'][0]+"\n")
print(general['essay9'][0]+"\n")

about me:  i would love to think that i was some some kind of intellectual: either the dumbest smart guy, or the smartest dumb guy. can't say i can tell the difference. i love to talk about ideas and concepts. i forge odd metaphors instead of reciting cliches. like the simularities between a friend of mine's house and an underwater salt mine. my favorite word is salt by the way (weird choice i know). to me most things in life are better as metaphors. i seek to make myself a little better everyday, in some productively lazy way. got tired of tying my shoes. considered hiring a five year old, but would probably have to tie both of our shoes... decided to only wear leather shoes dress shoes.  about you:  you love to have really serious, really deep conversations about really silly stuff. you have to be willing to snap me out of a light hearted rant with a kiss. you don't have to be funny, but you have to be able to make me laugh. you should be able to bend spoons with your mind, and telepathically make me smile while i am still at work. you should love life, and be cool with just letting the wind blow. extra points for reading all this and guessing my favorite video game (no hints given yet). and lastly you have a good attention span.

currently working as an international agent for a freight forwarding company. import, export, domestic you know the works. online classes and trying to better myself in my free time. perhaps a hours worth of a good book or a video game on a lazy sunday.

making people laugh. ranting about a good salting. finding simplicity in complexity, and complexity in simplicity.

the way i look. i am a six foot half asian, half caucasian mutt. it makes it tough not to notice me, and for me to blend in.

books: absurdistan, the republic, of mice and men (only book that made me want to cry), catcher in the rye, the prince.  movies: gladiator, operation valkyrie, the producers, down periscope.  shows: the borgia, arrested development, game of thrones, monty python  music: aesop rock, hail mary mallon, george thorogood and the delaware destroyers, felt  food: i'm down for anything.

food. water. cell phone. shelter.

duality and humorous things

trying to find someone to hang out with. i am down for anything except a club.

i am new to california and looking for someone to wisper my secrets to.

you want to be swept off your feet! you are tired of the norm. you want to catch a coffee or a bite. or if you want to talk philosophy.

### Dropping columns that not needed

In [ ]:
# List of columns to drop
columns_to_drop = ['orientation', 'body_type', 'diet', 'drugs', 'education', 'ethnicity', 'income', 'job', 'last_online', 'location',
                   'offspring', 'pets', 'religion', 'sign', 'speaks', 'essay0', 'essay1', 'essay2',
                   'essay3', 'essay4', 'essay5', 'essay6', 'essay7', 'essay8', 'essay9']

general.drop(columns_to_drop, axis=1, inplace=True)

## Data Cleaning for columns that will be used

In [ ]:
general.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     59946 non-null  int64
 1   status  59946 non-null  object
 2   sex     59946 non-null  object
 3   drinks  56961 non-null  object
 4   height  59943 non-null  float64
 5   smokes  54434 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 2.7+ MB

### Age

In [ ]:
general['age'].value_counts()

age
26     3724
27     3685
28     3583
25     3531
29     3295
24     3242
30     3149
31     2735
23     2592
32     2587
33     2206
22     1934
34     1902
35     1755
36     1583
37     1427
38     1330
21     1282
39     1172
42     1072
40     1030
41      980
20      953
43      858
44      708
45      643
19      611
46      578
47      529
48      481
49      459
50      437
51      350
52      344
18      309
56      271
54      267
55      265
57      256
53      252
59      221
58      197
60      195
61      176
62      167
63      138
64      113
65      109
66      105
67       66
68       59
69       31
110       1
109       1
Name: count, dtype: int64

In [ ]:
general.drop(general[general['age'] > 100].index, inplace=True)

### Status

In [ ]:
general['status'].value_counts()

status
single            55696
seeing someone     2064
available          1864
married             310
unknown              10
Name: count, dtype: int64

In [ ]:
general['status'].isna().sum()

0

In [ ]:
general = general[general['status'] != 'unknown']

### Sex -> Gender

In [ ]:
general['sex'].value_counts()

sex
m    35822
f    24112
Name: count, dtype: int64

In [ ]:
general.rename(columns={'sex': 'gender'}, inplace=True)

<ipython-input-96-069b1cc0c287>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw.rename(columns={'sex': 'gender'}, inplace=True)

### Drinks

In [ ]:
general['drinks'].isna().sum()

2983

In [ ]:
general['drinks'].value_counts()

drinks
socially       41774
rarely          5955
often           5164
not at all      3265
very often       471
desperately      322
Name: count, dtype: int64

In [ ]:
general = general.dropna(subset=['drinks'])

#### Data Transformation

In [ ]:
# Replace 'not at all' with 'no' and all other values with 'yes'
general['drinks'] = general['drinks'].apply(lambda x: 'no' if x == 'not at all' else 'yes')

In [ ]:
general['drinks'].value_counts()

drinks
yes    53686
no      3265
Name: count, dtype: int64

### Height

In [ ]:
# Convert height from inches to centimeters and round it
general['height'] = (general['height'] * 2.54).round()

In [ ]:
with pd.option_context('display.max_rows', None):
    print(general['height'].value_counts(dropna=False).sort_index(ascending=True))

height
3.0         1
8.0         1
10.0        1
15.0        1
20.0        1
23.0        1
66.0        1
91.0        7
94.0        2
109.0       2
119.0       1
122.0       2
124.0       1
127.0       2
130.0       1
132.0       1
135.0       4
137.0       3
140.0       6
142.0       8
145.0      16
147.0      50
150.0     198
152.0     738
155.0    1032
157.0    2149
160.0    2633
163.0    3700
165.0    3620
168.0    4540
170.0    5108
173.0    5178
175.0    4910
178.0    5778
180.0    4571
183.0    5014
185.0    2678
188.0    2399
190.0    1318
193.0     745
196.0     264
198.0     119
201.0      53
203.0      25
206.0      10
208.0      11
211.0      11
213.0       7
216.0       1
218.0       1
221.0       1
224.0       2
226.0       1
229.0       1
231.0       2
234.0       1
236.0       1
239.0       3
241.0      15
Name: count, dtype: int64

In [ ]:
general = general.dropna(subset=['height'])

In [ ]:
general['height'].isna().sum()

0

In [ ]:
general.drop(general[general['height'] < 120].index, inplace=True)

In [ ]:
with pd.option_context('display.max_rows', None):
    print(general['height'].value_counts(dropna=False).sort_index(ascending=True))

height
122.0       2
124.0       1
127.0       2
130.0       1
132.0       1
135.0       4
137.0       3
140.0       6
142.0       8
145.0      16
147.0      50
150.0     198
152.0     738
155.0    1032
157.0    2149
160.0    2633
163.0    3700
165.0    3620
168.0    4540
170.0    5108
173.0    5178
175.0    4910
178.0    5778
180.0    4571
183.0    5014
185.0    2678
188.0    2399
190.0    1318
193.0     745
196.0     264
198.0     119
201.0      53
203.0      25
206.0      10
208.0      11
211.0      11
213.0       7
216.0       1
218.0       1
221.0       1
224.0       2
226.0       1
229.0       1
231.0       2
234.0       1
236.0       1
239.0       3
241.0      15
Name: count, dtype: int64

### Smokes

In [ ]:
general['smokes'].isna().sum()

3558

In [ ]:
general['smokes'].value_counts()

smokes
no                42991
sometimes          3730
when drinking      3016
yes                2186
trying to quit     1451
Name: count, dtype: int64

In [ ]:
general = general.dropna(subset=['smokes'])

#### Data Transformation

In [ ]:
general['smokes'] = general['smokes'].replace(
    ['sometimes', 'when drinking', 'trying to quit'],
    'yes'
)

In [ ]:
general['smokes'].value_counts()

smokes
no     42991
yes    10383
Name: count, dtype: int64

### Adding User column for index

In [ ]:
general['user'] = 'user' + (general.index.astype(str))
general = general[['user'] + [col for col in general.columns if col != 'user']]

In [ ]:
general.head()

    user  age     status gender drinks  height smokes
0  user0   22     single      m    yes   190.0    yes
1  user1   35     single      m    yes   178.0     no
2  user2   38  available      m    yes   173.0     no
3  user3   23     single      m    yes   180.0     no
4  user4   29     single      m    yes   168.0     no

### Adding Religion column

In [ ]:
religions = ['islam', 'protestant christianity', 'roman catholicism', 'hinduism', 'buddhism', 'confucianism']

# Weights based on Indonesia's religious distribution 2023 (Wikipedia)
weights = [0.876, 0.0741, 0.0306, 0.0168, 0.0071, 0.0003]

# Assign religions based on the distribution and weights
general['religion'] = random.choices(religions, weights=weights, k=len(general))

<ipython-input-115-2de36c3a504d>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_raw['religion'] = random.choices(religions, weights=weights, k=len(df_raw))

In [ ]:
general['religion'].value_counts()

religion
islam                      46523
protestant christianity     3943
roman catholicism           1627
hinduism                     889
buddhism                     378
confucianism                  14
Name: count, dtype: int64

In [ ]:
general.head()

    user  age     status gender drinks  height smokes                 religion
0  user0   22     single      m    yes   190.0    yes                 buddhism
1  user1   35     single      m    yes   178.0     no  protestant christianity
2  user2   38  available      m    yes   173.0     no                 hinduism
3  user3   23     single      m    yes   180.0     no  protestant christianity
4  user4   29     single      m    yes   168.0     no                    islam

## Cleaned General Features CSV

In [ ]:
# general.to_csv('general_features.csv', index=False)

# Merging both Dataset then Cleaning

In [ ]:
df_general = pd.read_csv('general_features.csv')
df_music = pd.read_csv('music_features.csv')

In [ ]:
# Choosing 300 random rows
df_general = df_general.sample(n=300, random_state=42)

# Reset index
df_general = df_general.reset_index(drop=True)

# Drop the 'religion' column
df_general = df_general.drop(columns=['religion'])

In [ ]:
religions = ['islam', 'protestant christianity', 'roman catholicism', 'hinduism', 'buddhism', 'confucianism']

df_general['religion'] = random.choices(religions, k=len(df_general))

In [ ]:
merged_df = pd.concat([df_general, df_music], axis=1)

In [ ]:
merged_df['user'] = ['user' + str(i) for i in range(len(merged_df))]
merged_df = merged_df[['user'] + [col for col in merged_df.columns if col != 'user']]

In [ ]:
merged_df.head(10)

,user,age,status,gender,drinks,height,smokes,religion,genre,music_decade,music_vibe,listening_frequency,concert
0,user0,31,single,f,yes,168.0,no,hinduism,K-Pop,2020s,Relaxing and Chill,Frequently,"No, I prefer not to attend concerts"
1,user1,50,single,f,yes,175.0,no,buddhism,K-Pop,2020s,Upbeat and Energetic,Frequently,"Sometimes, depending on the artist or event"
2,user2,25,single,m,yes,188.0,no,confucianism,Traditional & Folk Music,2000s,Relaxing and Chill,Frequently,"No, I prefer not to attend concerts"
3,user3,39,single,m,yes,175.0,no,hinduism,Pop,2010s,Relaxing and Chill,Frequently,"No, I prefer not to attend concerts"
4,user4,22,single,m,yes,170.0,yes,buddhism,Indie/Alternative,1980s,Upbeat and Energetic,Frequently,"Sometimes, depending on the artist or event"
5,user5,28,single,m,yes,183.0,no,buddhism,Pop,2010s,Relaxing and Chill,"Only in specific situations (e.g., when workin...","Sometimes, depending on the artist or event"
6,user6,28,single,m,yes,175.0,no,hinduism,J-Pop,2020s,Relaxing and Chill,Frequently,"Sometimes, depending on the artist or event"
7,user7,30,single,m,yes,178.0,no,roman catholicism,Pop,2000s,Emotional and Deep,Occasionally,"No, I prefer not to attend concerts"
8,user8,34,single,m,yes,183.0,no,hinduism,Metal,1970s,Emotional and Deep,Rarely,"Sometimes, depending on the artist or event"
9,user9,51,single,f,yes,180.0,no,roman catholicism,Pop,2020s,Romantic and Smooth,"Only in specific situations (e.g., when workin...","Sometimes, depending on the artist or event"

In [ ]:
# Replace Only in specific situations (e.g., when working, studying) to "Only in specific situations"
merged_df['gender'] = merged_df['gender'].replace({'f': 'female', 'm': 'male'})

# Replace 'f' with 'female' and 'm' with 'male'
merged_df['listening_frequency'] = merged_df['listening_frequency'].replace({"Only in specific situations (e.g., when working, studying)": "Only in specific situations"})

# Replace married, seeing someone to 'in a relationship' and available to single
merged_df['status'] = merged_df['status'].replace({
    'married': 'in a relationship',
    'seeing someone': 'in a relationship',
    'available': 'single'
})

In [ ]:
merged_df.head(10)

,user,age,status,gender,drinks,height,smokes,religion,genre,music_decade,music_vibe,listening_frequency,concert
0,user0,31,single,female,yes,168.0,no,hinduism,K-Pop,2020s,Relaxing and Chill,Frequently,"No, I prefer not to attend concerts"
1,user1,50,single,female,yes,175.0,no,buddhism,K-Pop,2020s,Upbeat and Energetic,Frequently,"Sometimes, depending on the artist or event"
2,user2,25,single,male,yes,188.0,no,confucianism,Traditional & Folk Music,2000s,Relaxing and Chill,Frequently,"No, I prefer not to attend concerts"
3,user3,39,single,male,yes,175.0,no,hinduism,Pop,2010s,Relaxing and Chill,Frequently,"No, I prefer not to attend concerts"
4,user4,22,single,male,yes,170.0,yes,buddhism,Indie/Alternative,1980s,Upbeat and Energetic,Frequently,"Sometimes, depending on the artist or event"
5,user5,28,single,male,yes,183.0,no,buddhism,Pop,2010s,Relaxing and Chill,Only in specific situations,"Sometimes, depending on the artist or event"
6,user6,28,single,male,yes,175.0,no,hinduism,J-Pop,2020s,Relaxing and Chill,Frequently,"Sometimes, depending on the artist or event"
7,user7,30,single,male,yes,178.0,no,roman catholicism,Pop,2000s,Emotional and Deep,Occasionally,"No, I prefer not to attend concerts"
8,user8,34,single,male,yes,183.0,no,hinduism,Metal,1970s,Emotional and Deep,Rarely,"Sometimes, depending on the artist or event"
9,user9,51,single,female,yes,180.0,no,roman catholicism,Pop,2020s,Romantic and Smooth,Only in specific situations,"Sometimes, depending on the artist or event"

# Save Cleaned Dataframe to a new CSV

In [ ]:
merged_df.to_csv('merged_dataset.csv', index=False)